body{
    background-color: #e0ecde !important;
}
.logo {
    color: #161616;
    font-size: 1.5rem;
    position: relative;
  }
  
  .logo > span {
    color: #68b2a0;
  }

  .avatar_{
      background-color: #e0ecde;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      padding: 0;

  }

  .avatar_ > img{
      width: 20px;
  }
  .profile{
      cursor: pointer;
  }

  .profile:hover{
      color: #194f6b !important;
  }

  .btn-color{
      background-color: #194f6b;
      color: white;
  }
  .btn-color:hover{
      opacity: .8;
  }


  .action{
      cursor: pointer;
      transition: 0.3s;
  }
  .action:hover{
    transform: scale(0.95)
  }

  #marquee{
      position: absolute;
      bottom: 0;
      left: 0;
  }
